<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
  <div class="background-container">
    <div class="overlay-text">
      <h1>Chekon of Travancore</h1>
      <a href="/home"
        class="border border-white text-white py-2 px-6  bg-transparent hover:bg-white hover:text-black transition-colors duration-300">
        Click to enter 
    </a>
    </div>
  </div>
</body>

</html>