


    <!-- Hero Section -->
    <section class="bg-white">
        <div class="max-w-screen-xl px-4 py-16 mx-auto lg:flex lg:items-center lg:gap-8">
            <div class="max-w-lg mx-auto text-center lg:text-left lg:mx-0 lg:max-w-xl">
                <h1 class="text-3xl font-bold text-gray-900 lg:text-5xl">Welcome to</h1>
                <h1 class="text-3xl font-bold text-gray-900 lg:text-5xl ">Chekons of Travancore</h1>
                <p class="mt-4 text-gray-500 text-justify">Become more knowledgeable about the Chekavar Clan's past and experience a
                    sense of pride in our origins by visiting this page.</p>
                    <p class="mt-4 text-gray-500">Ohm Namah Shivay 🙏🏼..</p>
                <div class="flex  pt-3">
                    <a target="_blank" href="https://www.instagram.com/chekons_of_travancore_/">
                        <img class="w-12" src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000"
                            alt="insta" srcset="" />
                    </a>
                    &nbsp;&nbsp;
                    <a target="_blank" href="www.youtube.com/@ChekonsOftravancore">
                        <img class="w-12" src="https://img.icons8.com/?size=100&id=19318&format=png&color=000000" alt="youtube icon"
                            srcset="" />
                    </a>
                    &nbsp;&nbsp;
                    <a target="_blank" href="https://www.facebook.com/groups/854451155967479/user/100068932338624/">
                        <img class="w-12" src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="facebook"
                        srcset="" />
                    </a>
                    
                </div>

                <a href="#"
                    class="mt-8 inline-block px-8 py-3 text-sm font-medium text-white btn-color rounded-lg hover:btn-hover ">Get
                    Started</a>
            </div>
            <div class="max-w-lg mx-auto mt-8 lg:mt-0 lg:max-w-2xl">
                <img src="https://scontent.fcok15-1.fna.fbcdn.net/v/t39.30808-6/452214502_784481320526272_9199004501428965077_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=r_X-PGiLqKQQ7kNvgHO92GN&_nc_ht=scontent.fcok15-1.fna&oh=00_AYAAPumPqD6E6zSHv0TIDoQC8z3D5IzQ_5kBPAwVoETSQg&oe=66E21FF5"
                    alt="Hero image" class="w-full rounded-lg ">
            </div>
        </div>
    </section>

